experiment:
  name: "xai_ssl_rcc_vit_concept"
  seed: 1337
  # sovrascritto dall'orchestratore per ogni ablation
  outputs_root: null

evaluation_inputs:
  # sovrascritto dall'orchestratore per ogni ablation
  eval_run_dir: null
  predictions_csv: "predictions.csv"
  logits_npy: "logits_test.npy"

data:
  backend: "webdataset"
  img_size: 224
  imagenet_norm: false
  num_workers: 4
  webdataset:
    train_dir: "/beegfs-scratch/mla_group_01/workspace/mla_group_01/wsi-ssrl-rcc_project/data/processed/rcc_webdataset_final/train"
    test_dir: "/beegfs-scratch/mla_group_01/workspace/mla_group_01/wsi-ssrl-rcc_project/data/processed/rcc_webdataset_final/test"
    pattern: "shard-*.tar"
    image_key: "img.jpg;jpg;jpeg;png"
    meta_key: "meta.json;json"

labels:
  class_order: ["ccRCC", "pRCC", "CHROMO", "ONCO", "NOT_TUMOR"]

model:
  name: null                 # sovrascritto per ablation
  backbone_name: "vit_small_patch16_224"
  ssl_backbone_ckpt: null    # sovrascritto per ablation
  ssl_head_ckpt: null        # sovrascritto per ablation

selection:
  per_class:
    topk_tp: 5
    topk_fp: 3
    topk_fn: 3
    lowconf_topk: 3
  min_per_class: 10

concepts:
  # default, sovrascrivibile via env CONCEPT_BANK_CSV
  meta_csv: "/home/mla_group_01/rcc-ssrl/src/explainability/concept/ontology/concepts_rcc_debug.csv"
  concept_name_col: "concept_name"
  key_col: "wds_key"
  group_col: "group"
  class_col: "class_label"

  similarity: "cosine"
  topk_per_patch: 5
  min_patches_per_concept: 5

runtime:
  device: "cuda"
